.info-icon {
  display: block;
  background-image: url("/skin/3/gif/info.svg");
  width: 24px;
  height: 24px;
}

.arrow-right-icon {
  display: inline-block;
  background-image: url("/skin/3/gif/chevron-right.svg");
  width: 24px;
  height: 24px;
}
.arrow-down-icon {
  display: inline-block;
  background-image: url("/skin/3/gif/chevron-down.svg");
  width: 24px;
  height: 24px;
}

.refresh-icon {
  display: inline-block;
  background-image: url("/skin/3/gif/refresh-icon.svg");
  width: 24px;
  height: 24px;
}

.storehouse-icon {
  display: inline-block;
  background-image: url("/skin/3/gif/storehouse-icon.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.gratis-icon {
  display: inline-block;
  background-image: url("/skin/3/gif/gratis-icon.svg");
  width: 24px;
  height: 24px;
}