.landing-stand {
  .container {
    width: 1327px;
    max-width: 100%;
    margin: auto;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 60px;
  }
}
